@import "./normalize";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  background: #FF5A00;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background: #FF5A00;
  font-family: Roboto;
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 36px;
  padding: 30px;
  gap: 8px;
  max-width: 320px;
}

.form {
  display: flex;
  flex-flow: column;
  background: #3a4e58;
  padding: 25px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
}

.heading {
  font-size: 54px;
  margin: 0 auto;
  padding: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myForm {
  max-width: 100%;
  word-wrap: break-word;
}

.myLabel {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 24px;
}

.repo-list {
  color: #ffffff;
  font-size: 18px;
  align-items: flex-start;
  padding-inline-start: 0px;
  list-style-type: none;

  & li {
    text-align: left;
  }
}

.submit {
  width: 100%;
  justify-content: center;
  align-items: center;
  border: none;
  display: flex;
  background: #ffffff;
  font-size: 18px;
  border: none;
  background-color: #3A4E58;
  color: white;
  box-shadow: inset 0px 1px 1px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 6px 12px;
  text-align: center;
  margin: 0 auto;
}

.username {
  background: #ffffff;
  font-size: 18px;
  border: none;
  box-shadow: inset 0px 1px 1px rgb(0 0 0 / 30%);
  border-radius: 4px;
  padding: 10px 25px;
  text-align: center;
  margin: 20px auto;
  max-width: 100%;
}